@model Vacation_Manager.Models.TeamModels.TeamIndexViewModel
<p>
<p>

    <header class="page-header header container-fluid">
        @if (Startup.loggedInRole == "CEO")
        {
            <a type="submit" class="btn btn-primary" asp-action="Create">Добави екип</a>
        }
        <div class="tablesm">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Екип №
                        </th>
                        <th>
                            Екип
                        </th>
                        <th>
                            Лидер
                        </th>
                        <th>
                            Проект
                        </th>
                        @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                        {
                            <th>
                                Администриране
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameOutput)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamProjectNavigation.ProjectName)
                            </td>
                            @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                            {
                                <td>
                                    @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.TeamId">Промени</a>
                                    }
                                    @if (Startup.loggedInRole == "CEO")
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.TeamId">Премахни</a>
                                    }
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </header>
