@model Vacation_Manager.Models.VacationModels.VacationIndexViewModel

<a asp-action="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Creation Date
            </th>
            <th>
                Type
            </th>
            <th>
                Is Approved by Leader
            </th>
            <th>
                Is Approved by CEO
            </th>
            <th>
                Belongs To
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VacationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApprovedByCEO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacUserNavigation.FirstName)
                @Html.DisplayFor(modelItem => item.VacUserNavigation.LastName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.VacationId">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.VacationId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
