@model Vacation_Manager.Models.VacationModels.VacationIndexViewModel

<p>
<p>

    <header class="page-header header container-fluid">
        @if (Startup.loggedInRole == "CEO")
        {
            <a type="submit" class="btn btn-primary" asp-action="Create">Добави отпуск</a>
        }
        <div class="tablesm">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Входящ №
                        </th>
                        <th>
                            От дата
                        </th>
                        <th>
                            До дата
                        </th>
                        <th>
                            Дата на създаване
                        </th>
                        <th>
                            Одобрена от Лидер
                        </th>
                        <th>
                            Одобрена от CEO
                        </th>
                        <th>
                            Служител
                        </th>
                        @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                        {
                            <th>
                                Администриране
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.items)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VacationId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsApproved)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsApprovedByCEO)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.VacUserNavigation.FirstName)
                            @Html.DisplayFor(modelItem => item.VacUserNavigation.LastName)
                        </td>
                        @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                        {

                    <td>
                        @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                        {
                    <a asp-action="Edit" asp-route-id="@item.VacationId">Промени</a>}
                        @if (Startup.loggedInRole == "CEO")
                        {
                    <a asp-action="Delete" asp-route-id="@item.VacationId">Премахни</a>}
                    </td>}

                    </tr>
                    }
                </tbody>
                </table>
        </div>
    </header>



