@model Vacation_Manager.Models.UserModels.UsersIndexViewModel
<p>
<p>

    <header class="page-header header container-fluid">
        @if (Startup.loggedInRole == "CEO")
        {
            <a type="submit" class="btn btn-primary" asp-action="Create">Добави служител</a>
        }
        <div class="tablesm">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Име
                        </th>
                        <th>
                            Фамилия
                        </th>
                        <th>
                            Позиция
                        </th>
                        <th>
                            Екип
                        </th>
                        @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                        {
                            <th>
                                Администриране
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTeamNavigation.TeamName)
                            </td>
                            @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                            {
                                <td>
                                    @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.UserId">Промени</a>
                                    }
                                    @if (Startup.loggedInRole == "CEO")
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.UserId">Премахни</a>
                                    }
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </header>

